In [1]:
import pandas as pd
df=pd.read_csv("grainsales.csv")
print(df)

      GrainName        State       City Months  Year    Sales
0          Ragi  Maharashtra     Nagpur    JAN  2023  1000000
1         Bajra       Panjab   Amritsar    FEB  2023  1500000
2          Ragi  Maharashtra     Nagpur    JAN  2023  1000000
3         Bajra       Panjab   Amritsar    FEB  2023  1500000
4          Ragi  Maharashtra     Nagpur    JAN  2023  1000000
5         Bajra       Panjab   Amritsar    FEB  2023  1500000
6          Oats     Hariyana   Gurugram  MARCH  2023  2000000
7        Sattu       Gujarat      Surat  APRIL  2023  2500000
8         Sooji   Tamil Nadu    Madurai    MAY  2023  3000000
9   Brown rice     Telangana  Hyderabad   JUNE  2023  3500000
10        Wheat  West Bengol   Asansole   JULY  2023  4000000
11         Corn           UP     Kanpur    AUG  2023  4500000
12         Ragi  Maharashtra     Nagpur    JAN  2023  1000000
13        Bajra       Panjab   Amritsar    FEB  2023  1500000
14         Oats     Hariyana   Gurugram  MARCH  2023  2000000
15       Sattu       Gujarat      Surat  APRIL  2023  2500000
16        Sooji   Tamil Nadu    Madurai    MAY  2023  3000000
17  Brown rice     Telangana  Hyderabad   JUNE  2023  3500000
18        Wheat  West Bengol   Asansole   JULY  2023  4000000
19         Corn           UP     Kanpur    AUG  2023  4500000
20        Sooji   Tamil Nadu    Madurai    MAY  2023  3000000
21  Brown rice     Telangana  Hyderabad   JUNE  2023  3500000
22        Wheat  West Bengol   Asansole   JULY  2023  4000000
23         Corn           UP     Kanpur    AUG  2023  4500000
24         Ragi  Maharashtra     Nagpur    JAN  2023  1000000
25  Brown rice     Telangana  Hyderabad   JUNE  2023  3500000
26        Wheat  West Bengol   Asansole   JULY  2023  4000000

In [25]:
print("Max sales of grain",df['Months'].max())

Max sales of grain MAY

In [3]:
print(df["Sales"].sum()/len(df["Sales"]))

2685185.185185185

In [5]:
# .index(df["Sales"].max())

TypeError: 'RangeIndex' object is not callable

In [7]:
df["Sales"]

0     1000000
1     1500000
2     1000000
3     1500000
4     1000000
5     1500000
6     2000000
7     2500000
8     3000000
9     3500000
10    4000000
11    4500000
12    1000000
13    1500000
14    2000000
15    2500000
16    3000000
17    3500000
18    4000000
19    4500000
20    3000000
21    3500000
22    4000000
23    4500000
24    1000000
25    3500000
26    4000000
Name: Sales, dtype: int64

In [15]:
price=[]
for j in df["Sales"]:
   price.append(j)

In [16]:
price

[1000000,
 1500000,
 1000000,
 1500000,
 1000000,
 1500000,
 2000000,
 2500000,
 3000000,
 3500000,
 4000000,
 4500000,
 1000000,
 1500000,
 2000000,
 2500000,
 3000000,
 3500000,
 4000000,
 4500000,
 3000000,
 3500000,
 4000000,
 4500000,
 1000000,
 3500000,
 4000000]

In [18]:
max(price)

4500000

In [23]:
maxindex=price.index(max(price))

In [21]:
months=[]
for l in df["Months"]:
   months.append(l)

In [22]:
months

['JAN',
 'FEB',
 'JAN',
 'FEB',
 'JAN',
 'FEB',
 'MARCH',
 'APRIL',
 'MAY',
 'JUNE',
 'JULY',
 'AUG',
 'JAN',
 'FEB',
 'MARCH',
 'APRIL',
 'MAY',
 'JUNE',
 'JULY',
 'AUG',
 'MAY',
 'JUNE',
 'JULY',
 'AUG',
 'JAN',
 'JUNE',
 'JULY']

In [24]:
print(months[maxindex])

AUG